---
layout: subpage
title: 'Data Presentation, Responsive UI Design, and User Experience'
heading: 'User Interfaces'
subheading: 'Engaging your users with intuitive interfaces...'
description: 'Captivation Software employs UI / UX experts to bring excitement and new understanding to your data. Discover more here.'
---
<div class="row">
  <div class="sidenote col-xs-12 col-md-4 pull-right">
    {% include getstarted.html %}
    <h2>Core Capabilities</h2>
    <section>
      <h4>Responsive Design</h4>
      <p>
        Support a wider audience with a user interface that works on all devices.
      </p>
      <a href="responsive-design">Learn More...</a>
    </section>

    <section>
      <h4>Data Visualizations</h4>
      <p>
        Gain insight into your data with easily digestable charts, graphs, and reports.
      </p>
      <a href="data-visualizations">Learn More...</a>
    </section>

    <section>
      <h4>User-Experience (UX)</h4>
      <p>
        Take your design further and emphasize usability and accessibility.
      </p>
      <a href="user-experience">Learn More...</a>
    </section>
  </div>
  <div class="col-xs-12 col-md-8 pull-left">
    <h3>The face of your application</h3>
    <p>
      The user interface ( or "UI" ) of your application is one of the most important aspects
      of your custom software. It acts as the control panel to your workflows, and can either be
      the greatest source of productivity, or when done poorly, the greatest source of frustration.
    </p>
    <p>
      Our UI experts will ensure your application is intuitive and attractive, with
      many conveniences like immediate feedback, status updates, progress indicators, and
      easy to understand alerts and error messages.
    </p>
    <hr />
    <h3>Web Standards Compliance</h3>
    <p>
      The web is a diverse environment, and it is important to create conventional
      and compliant interfaces to ensure the best results for your visitors - regardless
      of if that visitor is a user's browser, a search engine, or an assistive technology device.
    </p>
    <p>
      We build interfaces using popular tools like <strong>React</strong>, <strong>AngularJS</strong>,
      <strong>Backbone</strong>, <strong>jQuery</strong>, and <strong>Bootstrap</strong> to deliver the best
      results with the fewest surprises. These are well-known tools supported by active communities, that are
      continually being updated for cross-browser compatibility and big performance boosts. Additionally, you may
      take your application even further with accessibility considerations, like 508 compliance, to enable
      users with special needs.
    </p>
    <hr />

    <h3>Build once, use everywhere</h3>
    <p>
      Traditional applications were designed to work solely on a desktop computer, making them
      cumbersome to use on other devices, such as phones or tablets. These applications are costly
      to convert to a mobile-friendly alternative, or require an entirely seperate application
      for mobile altogether. We avoid this problem altogether by incorporating
      {% include link.html href="/services/user-interfaces/responsive-design/" %}
      into every application we deliver for our clients.
    </p>
    <p>
      Using our team, your application will be usable and enjoyably for every user,
      regardless of their preferred device.
    </p>
  </div>
</div>
