/* Override bootstrap large container */
@media (min-width: 992px) {
  .container {
    width: 960px;
  }

  .section .menu, .section .menu[style] {
    position: absolute !important;
    top: 50% !important;
    left: inherit !important;
  }

  h1 {
    margin-top: 5px;
  }
}

@media (max-width: 991px) {
  .hero {
    left: 0;
    right: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 72.5%;
  }

  .background-overlay {
    margin-top: 0;
  }

  .content .main.container {
      padding-top: 30px;
      padding-bottom: 30px;
  }

  .landing {
      overflow-x: hidden;
  }

  .landing .footer {
    top: 100%;
  }

  .section .menu {
    margin: 0;
    padding: 100px 0;
  }

  .menu ul li {
    text-align: center;
    margin-left: 5px;
  }

  .menu ul li a .text {
    display: none;
  }

  .menu ul li a .circle {
    margin-right: 5px;
  }

  .required.indicator {
    padding: 0;
  }

  h1 {
    font-size: 28px;
    margin-bottom: 25px;
    margin-top: 5px;
  }

  p {
    font-size: 18px;
    margin: 0 0 30px;
  }

  .icon {
    margin-bottom: 30px;
  }

  .solution.row:last-child {
    margin-bottom: 0;
  }

  form label {
    width: 100%;
  }

  .capabilities ul {
    margin-bottom: 30px;
  }
}
