/* Override bootstrap large container */
@media (min-width: 990px) {
  .container {
    width: 960px;
  }
}

@media (min-width: 769px) {
  .footer .title {
    display: none;
  }
}

@media (max-width: 768px) {

  h1 {
    font-size: 20px;
  }

  p {
    font-size: 16px;
  }

  .menu ul li a .text {
    display: none;
  }

  .glyphicon-chevron-up,
  .glyphicon-chevron-down,
  .copyright {
    display: none;
  }

  .footer {
    bottom: 0;
    padding: 30px;
    background-color: #2F2F2F;
  }

  .dark-bg .footer .brand,
  .light-bg .footer .brand,
  .black-bg .footer .brand {
    width: 156px;
    height: 25px;
    background-size: 156px 25px;
    background-image: url('../images/logo-light-small.png');
    margin-left: 0;
  }

  .footer .title {
    display: inline;
    color: #FFB718;
  }

  .fp-slidesContainer {
    width: 100% !important;
  }

  .fp-slide {
    width: 100% !important;
  }

}
