body {
  font-family: "Proxima Nova", Arial, sans-serif;
  font-size: 18px;
}

.row {
  position: relative;
}

.hero {
  margin: 40px auto;
  width: 24em;
}

.hero .text {
  font-weight: 900;
  font-size: 2.5em;
  line-height: 0.7;
  display: inline-block;
  padding: 0;
  white-space: nowrap;
}

.background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.1;
  background-repeat: no-repeat;
  background-position: 60% 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  font-weight: 800;
  margin-bottom: 25px;
}

h2 {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

h1 + p {
  padding-top: 0;
}

h2 + p {
  padding: 2px 0;
  font-weight: normal;
}

p {
  padding: 10px 0;
  font-weight: 600;
}

p,
ul li {
  font-size: 18px;
}

em {
  font-size: 24px;
  font-style: normal;
}

a:link,
a:visited,
a:active,
a:hover {
  text-decoration: underline;
}

.vertically-centered {
  position: relative;
  transform: translateY(-50%);
  top: 50%;
  margin-top: -10px;
}

.solution.row {
  height: 150px;
}

.solution .col-xs-2 {
  width: 20%;
}

.solution .col-xs-10 {
  width: 80%;
}

.btn,
.btn:link,
.btn:visited,
.btn:active,
.btn:hover {
  border: solid 3px;
  border-radius: 0;
  padding: 12px;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 15px 0;
  box-shadow: none;
  text-decoration: none;
  min-width: 220px;
}

.glyphicon {
  font-size: 30px;
  position: absolute;
}

.glyphicon-chevron-down, .glyphicon-chevron-up {
  top: calc(100% - 60px);
  left: calc(50% - 15px);
  text-align: center;
  cursor: pointer;
  z-index: 1;
}

.glyphicon-chevron-up::after {
  content: "BACK TO TOP";
  font-family: "Proxima Nova";
  font-size: 8px;
  font-weight: 600;
  display: block;
}

.menu {
  margin-top: -80px;
  position: absolute;
  right: 10px;
  padding: 0;
}

.menu ul li {
  width: 100%;
  line-height: 30px;
  text-align: right;
}

.menu ul li a {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
  line-height: 1;
  text-decoration: none;
}

.menu ul li a:hover {
  text-decoration: none;
}

.menu ul li a .text {
  margin-right: 10px;
}

.menu ul li a .circle {
  display: inline-block;
  height: 13px;
  width: 13px;
  border-radius: 13px;
  margin-bottom: -1px;
}

.capabilities h2 {
  margin: 5px 0;
}

.capabilities ul {
  margin-bottom: 20px;
}

.capabilities ul li {
  font-size: 16px;
  line-height: 24px;
}

.footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 60px;
}

.footer .brand {
  width: 188px;
  height: 30px;
  margin-left: 15px;
  margin-top: -20px;
}

.footer .copyright {
  float: right;
  font-size: 11px;
  margin-right: 10px;
  line-height: 30px;
}

.footer .glyphicon {
  top: 0;
}

img.logo-mark {
  width: 113px;
  height: 150px;
  margin: 60px 0 20px;
}

img.icon {
  width: 120px;
  height: 120px;
}

.contact {
  padding-top: 0;
  font-weight: normal;
}

.sticky {
  position: fixed;
}

.sticky.nav {
  right: 10px;
  top: 200px;
}

.sticky.footer {
  height: 60px;
  padding: 0 15px;
}

.sticky.footer .brand {
  width: 156px;
  height: 25px;
  margin-left: 0;
  margin-top: initial;
}

.sticky.footer .menu {
  position: relative;
  top: 0;
  right: 0;
  margin: 0;
  float: right;
}

.sticky.footer .menu li,
.sticky.footer .menu .circle {
  display: none;
}

.sticky.footer .menu li.active {
  display: inline-block;
}

.sticky.footer .menu li.active .text {
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFB718;
  float: right;
  line-height: 60px;
  white-space: nowrap;
}

.required {
  font-style: italic;
  font-size: 14px;
}
