html,
body {
   margin:0;
   padding:0;
   height:100%;
}

body {
  font-family: "Proxima Nova", Arial, sans-serif;
  font-size: 18px;
  overflow-x: hidden;
}

* {
  outline: none !important;
}

.page {
  min-height: 100%;
  position: relative;
  overflow: hidden;
}

.content {
  padding: 120px 0 60px;
  height: 100%;
}

.subpage .content {
    padding-top: 70px;
}

.content .container {
  margin-top: 50px;
}

.content .landing .container {
  margin-top: 0;
}

.content .container + .container {
  padding-top: 50px;
}

.header {
  font-size: 0;
  height: 120px;
  margin-left: -0.5%;
  margin-top: -40px;
  transform: rotate(-1deg);
  width: 101%;
  z-index: 10;
  position: fixed;
  line-height: 155px;
}

.header > * {
  transform: rotate(1deg);
}

.header .btn,
.header .btn:link,
.header .btn:visited,
.header .btn:active,
.header .btn:hover {
  margin: 0 0 2px;
  min-width: 0;
  font-size: 13px;
  font-weight: normal;
  width: auto;
  padding-left:12px;
  padding-right: 12px;
}

.header .menu li {
  display: inline;
}

.header .nav.btn {
  padding: 0;
}

.header .mobile-menu {
  left: -5%;
  position: absolute;
  top: 110px;
  transform: rotate(0deg);
  width: 110%;
  z-index: 1;
  margin-bottom: 50px;
}

.header .mobile-menu > * {
  transform: rotate(1deg);
}

.header .mobile-menu ul li {
  display: block;
  height: 55px;
  padding: 0 5px;
  text-align: center;
}

.header .mobile-menu ul li .btn {
  display: block;
}

.header .btn .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  margin: 4px 0;
}

.header .btn .close {
  font-size: 45px;
  font-weight: 200;
  opacity: 1;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 75px;
  z-index: 9;
}

.landing {
  position: relative;
  margin-top: -120px;
  padding-top: 120px;
  overflow: hidden;
}

.overview {
  padding: 40px 0 30px;
  transform: rotate(0.5deg);
  width: 101%;
  margin-left: -0.5%;
  margin-top: -10px;
  z-index: 1;
}

.overview > * {
  transform: rotate(-0.5deg);
}

.overview h3 {
  margin: 0;
}

.overview h3 + p, .overview h3 + ul {
  margin-bottom: 25px;
}

.brand {
  height: 30px;
  width: 188px;
}

.underline {
  text-decoration: underline;
}

.row {
  position: relative;
}

.hero {
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 1;
}

.hero h1 {
  padding: 0;
  position: relative;
  z-index: 3;
  line-height: 1;
  font-weight: 900;
  font-size: 1.9em;
  margin: 0;
}

.background-overlay {
  z-index: 0;
  position: relative;
  margin-top: -16.666%;
}

.background-overlay img {
  width: 100%;
  opacity: 0.33 !important;
}

h1 {
  font-weight: 800;
  margin: 25px 0 15px;
  font-weight: 700;
  font-size: 30px;
}

h2 {
  font-size: 24px;
  font-weight: 200;
  margin: 0 0 30px;
}

h3 {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 25px 0 4px;
}

h4 {
  font-size: 17px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 10px 0 5px;
}

h1 + p, p {
  padding: 0;
  margin: 0 0 30px;
}

h2 + p, h3 + p, h3 + ul, h4 + p, h4 + ul {
  padding: 2px 0;
  margin-bottom: 15px;
}

h3 + h4 {
  margin-top: 15px;
}

p + h4 {
  margin-top: 15px;
}

p,
ul li {
  font-size: 18px;
}

.landing p, .landing ul li {
  font-size: 16px;
}

p + p {
  margin-top: 10px;
  margin-bottom: 0;
}

em {
  font-size: 21px;
  font-style: normal;
}

a:link,
a:visited,
a:active,
a:hover {
  text-decoration: underline;
}

.btn,
.btn:link,
.btn:visited,
.btn:active,
.btn:hover {
  border: solid 4px;
  border-radius: 8px;
  padding: 12px;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 0 30px;
  box-shadow: none;
  text-decoration: none;
  min-width: 150px;
}

.form-group .btn[disabled] {
  opacity: 1.0;
  cursor: default;
  pointer-events: all;
}

.copyright {
  display: block;
  font-size: 11px;
}

img.logo-mark {
  width: 113px;
  height: 150px;
  margin: 60px 0 20px;
}

img.icon {
  width: 100px;
  height: 100px;
}

.contact {
  font-weight: 500;
}

.required {
  font-style: italic;
  font-size: 14px;
}

.required.indicator {
  position: relative;
  padding: 0;
  margin-left: 15px;
}

.form-group .btn {
  margin: 12px 0px;
}

.form-control {
  border-radius: 8px;
  border: 0;
  margin: 5px 0;
  height: 45px;
  font-size: 16px;
  font-weight: 100;
  width: 100%;
  font-style: normal;
}

.required .form-control {
  padding-right: 30px;
}

textarea.form-control {
  resize: none;
  height: 110px;
}

form {
  margin-top: -10px;
}

form label {
  display: block;
  width: calc(100% + 22px);
  max-width: none;
  position: relative;
}

.required.indicator:before,
label.required::after {
  content: "*";
  font-size: 26px;
  font-style: normal;
  width: 20px;
  position: absolute;
  font-weight: 600;
}

.required.indicator:before {
  top: -3px;
  left: -15px;
}

label.required:after {
  line-height: 58px;
  right: 0;
  top: 0;
}

::-webkit-input-placeholder {
  font-style: italic;
  font-weight: 100;
}

:-moz-placeholder {
  font-style: italic;
  font-weight: 100;
}

::-moz-placeholder {
  font-style: italic;
  font-weight: 100;
}

:-ms-input-placeholder {
  font-style: italic;
  font-weight: 100;
}

.placeholdersjs {
  font-style: italic !important;
  font-weight: 100;
}

.ie form {
  display: none;
}

.tech-icon {
  height: 140px;
  margin: 30px auto 50px;
  text-align: center;
}

.tech-icon img {
  width: auto;
  max-height: 100%;
}
