.orange {
  color: #E97200;
}

.white {
  color: #FFFFFF;
}

body {
  background-color: #EEEEEE;
}

h1,
a,
.required {
  color: #F7A700;
}

.btn,
.btn:hover,
.btn.active,
.btn:active {
  color: #FFFFFF;
  border-color: #F7A700;
  background-color: #F7A700;
}

.btn[disabled],
.btn[disabled]:hover {
  background-color: transparent;
  color: #F7A700;
  border-color:  #F7A700;
}

.btn.error,
.btn.error:hover {
  color: #FFFFFF;
  background-color: #DC4242;
  border-color: #DC4242;
}

.btn.success,
.btn.success:hover {
  color: #FFFFFF;
  background-color: #4BB324;
  border-color: #4BB324;
  cursor: default;
}

.glyphicon {
  color: #333333;
}


.header {
  background-color: #333;
}

.header .btn {
  color: #FFFFFF;
  background-color: transparent;
  border: 0;
}

.required.indicator:before,
label.required::after {
  color: #F7A700;
}

.hero h2, .hero ul li {
  color: #FFFFFF;
}

.solution.row {
  border-bottom: dotted 1px rgba(51,51,51,0.2);
}

.solution.row:last-child {
  border-bottom: 0;
}

/* Orange override */
.orange-bg {
  background-color: #F7A700;
}

/* White override */
.white-bg {
  background-color: #FFFFFF;
}

.white-bg h2 {
  color: #F7A700;
}
