.orange {
  color: #E97200;
}

.white {
  color: #FFFFFF;
}

.page {
  background-color: #FFFFFF;
}

.page.subpage {
  background-color: #EEEEEE;
}

h1,
.required {
  color: #F7A700;
}

a:link,
a:visited,
a:hover,
a:active {
  color: #E97200;
}

.btn,
.btn:hover,
.btn.active,
.btn:active {
  color: #FFFFFF;
  border-color: #F7A700;
  background-color: #F7A700;
}

.btn[disabled],
.btn[disabled]:hover {
  background-color: transparent;
  color: #F7A700;
  border-color:  #F7A700;
  background-color: transparent;
}

.btn.error,
.btn.error:hover {
  color: #FFFFFF;
  background-color: #DC4242;
  border-color: #DC4242;
}

.btn.success,
.btn.success:hover {
  color: #FFFFFF;
  background-color: #4BB324;
  border-color: #4BB324;
  cursor: default;
}

.glyphicon {
  color: #333333;
}


.header {
  background-color: #333;
}

.header .btn {
  color: #FFFFFF;
  background-color: transparent;
  border: 0;
}


.header .icon-bar {
  background-color: #FFFFFF;
  display: block;
  width: 22px;
  height: 2px;
  margin: 4px 0;
  border-radius: 1px;
}

.required.indicator:before,
label.required::after {
  color: #F7A700;
}

.hero h2, .hero ul li {
  color: #FFFFFF;
}

/* Orange override */
.orange-bg {
  background-color: #F7A700;
}

/* White override */
.white-bg {
  background-color: #FFFFFF;
}

.white-bg h3 {
  color: #F7A700;
}
