.orange {
  color: #E97200;
}

.white {
  color: #FFFFFF;
}

.page {
  background-color: #FFFFFF;
}

.content .container + .container {
  border-top: solid 1px #bbb;
}

p {
  color: #555;
}

h1,
.required {
  color: #F7A700;
}

h3 {
  color: #111;
}

section {
  background-color: rgba(255, 255, 255, 0.25);
}

section a:link,
section a:visited,
section a:hover,
section a:active {
  color: #F38A00;
}

a:link,
a:visited,
a:hover,
a:active {
  color: #E97200;
}

a.back {
  color: #333333;
}


.glyphicon {
  color: #333333;
}


.header, .header .mobile-menu {
  background: #333;
}

.header .menu li > .menu {
  background: #333 linear-gradient(to bottom, #333 40px, #444 90%);
  box-shadow: 0 5px 10px #333;
}

.header .btn {
  color: #FFFFFF;
  background-color: transparent;
  border: 0;
}

.header .btn:hover {
  color: #F7A700;
}

.header .btn .icon-bar {
  background-color: #FFFFFF;
  border-radius: 1px;
}

.header .btn .close {
  color: #FFFFFF;
}

.footer {
  background: #DDDDDD;
}

.required.indicator:before,
label.required::after {
  color: #F7A700;
}

.hero h2, .hero ul li {
  color: #FFFFFF;
}

/* Orange override */
.orange-bg {
  background-color: #F7A700;
}

/* White override */
.white-bg {
  background-color: #FFFFFF;
}

.white-bg h3 {
  color: #F7A700;
}

.page {
  background: #EEEEEE linear-gradient(to top, #EEEEEE 0, #FFFFFF 100%);
}
