---
layout: subpage
title: 'Automated Provisioning'
heading: 'Automated Provisioning'
subheading: 'Streamlined configuration of system resources...'
description: 'Captivation Software can automate your server provisioning. Discover more here.'
---
<div class="row">
  <div class="col-xs-12 col-md-4 pull-right">
    {% include getstarted.html %}
  </div>
  <div class="col-xs-12 col-md-8 pull-left">
    <h3>Every Machine Is Replaceable</h3>
    <p>
      Uncontrolled changes are the bane of every production environment. Every "quick fix",
      applied in the heat of the moment, will eventually weaken your infrastructure, making some
      machines difficult, if not impossible, to replace.
    </p>
    <p>
      Our DevOps team, with the help of tools like <strong>Puppet</strong>, <strong>Salt</strong>, and
      <strong>Ansible</strong> can be used to curb this bad practice - ensuring that each
      machine is consistent, and no machine is irreplaceable.
    </p>
    <hr />
    <h3>Configuration As Code</h3>
    <p>
      Recent advances in DevOps technology has extended some of the best practices of traditional
      software development to the system administrator's realm.
    </p>
    <p>
      With our experts on your side, your server configuration can be stored in source
      control, ensuring that your changes can be responsibly altered, and in case of emergencies,
      reverted to a previously-known working state.
    </p>
    <hr />
    <h3>Unprecedented Disaster Recovery</h3>
    <p>
      Even in the most disciplined environments, the unexpected can still happen. It is essential
      that critical software systems employ automated provisioning services to get back
      to a working state ASAP.
    </p>
    <p>
      With our help, your infrastructure will gain the ability to quickly recover from worst-case
      scenarios.
    </p>
    <hr />
  </div>
  <div class="sidenote col-xs-12 col-md-4 pull-right">
    <h2>Related Services</h2>
    {% include learn-more/application-clustering.html %}
    {% include learn-more/cloud-deployments.html %}
  </div>
</div>
