---
layout: homepage
title: 'Full-Stack Development, Signals Processing, and R&amp;D'
description: 'Captivation Software provides agile software engineering services, application development, data management, and DevOps solutions to federal government entities. Learn more here!'
last_modified_at: 2016-11-02
---
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Latest News</h1>
      <h2>Here's what we've been up to...</h2>
    </div>

    <div class="col-xs-12 col-md-6">
      <h3>New capability: Software-Defined Radio</h3>
      <p>In addition to our existing capabilities within the full-stack development / R&amp;D vertical, key talent acquisition has opened up a realm of exciting opportunities for Captivation Software within the field of Software Defined Radio ( SDR ).</p>
      <p>Software-Defined Radio is an exciting technology that enables RF collection with drastic cost-cutting measures without sacrificing results. Capabilities that once required expensive hardware are now enabled by software using specialized algorithms and signal processing techniques. Captivation's team is capable of delivering SDR solutions built on leading platforms, most notably the open-source REDHAWK framework, to deliver big wins to IC customers.</p>
      <p>This solution space is a direct complement to Captivation's existing capabilities, and is another asset in our toolbox as we serve the IC Community / DOD.
    </div>
    <div class="col-xs-12 col-md-6">
      <h3>Continued Open-Source Success</h3>
      <p>Captivation is proving to be a winner in its sponsoring of emerging web technologies.</p>
      <p>As an early adopter of Facebook's popular library, ReactJS, our team seized on the moment and presented solutions for yet un-implemented capabilities that have since gone on to become the de-facto standard for the ecosystem.</p>
      <p>One such offering we've started and sponsored, <a href="https://github.com/captivationsoftware/react-sticky" target="_blank">react-sticky</a>, currently experiences over 50,000 downloads ( ! ) per month according to the NPM registry - and shows no signs of slowing!</p>
      <p>We look forward to future growth in the Open-Source Community, and are committed to doing our part to keep moving it forward. Stay tuned for further announcements regarding our successful contributions!
    </div>
  </div>
  <hr style="border-color: #ccc;"/>
  <div class="row">
    <div class="col-xs-12">
      <h1>Featured Research</h1>
      <h2>Fresh out of the lab...</h2>
      <p>As we dive head first into SDR spaces, we've turned our attention towards creating tools that apply our existing expertise in high-performance graphics computing to the signal processing domain.</p>
      <p>
        Without further adieu, we'd like to present a snapshot of our super-secret internal project, RADIOVISION:
        <img src="/images/radiovision.png" title="RADIOVISION Snapshot" style="width: 500px; height: auto; margin: 15px auto; display: block;" />
      </p>
      <p>RADIOVISION is a powerful streaming video broadcaster that uses proprietary and open-source methods to create and broadcast low-latency, dynamic content ( such as the dummy data above ) on the fly in real-time from ad-hoc data sources. Practical use-cases include RF spectrograms or applications requiring web-compatible data stream visualizations.</p>
      <p>To schedule a demo or learn more about RADIOVISION, {% include link.html href="/contact/" %} today.</p>
    </div>
  </div>
  <hr style="border-color: #ccc;"/>
  <div class="row">
    <div class="col-xs-12">
      <h1>...And Yes, We're Hiring!</h1>
      <h2>Be a part of the next generation in government contracting...</h2>
      <p>We are proud of the work we've been doing since we started back in 2014, and can say that our recent growth is a testament to our ability to deliver. Help us keep that momentum going and check out our {% include link.html href="/jobs/" %} page, or visit us on <a href="https://stackoverflow.com/jobs/companies/captivation-software" target="_blank">Stack Overflow</a> ( our favorite resource, by the way ).</p>
    </div>
  </div>
</div>
