<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>We Can Help With...</h1>
    </div>
    <div class="col-xs-12 col-md-6">
      <h2>SYSTEM INTEGRATION</h2>
      <ul class="list-unstyled">
        <li>Systems Engineering</li>
        <li>Cloud Service Deployment (Heroku, AWS)</li>
        <li>Requirements Gathering</li>
        <li>DevOps</li>
        <li>Continuous Integration</li>
      </ul>
      <h2>DESKTOP APPLICATIONS</h2>
      <ul class="list-unstyled">
        <li>.NET Applications (C#)</li>
      </ul>
      <h2>DATA MANAGEMENT</h2>
      <ul class="list-unstyled">
        <li>Domain Modeling and Schema Design</li>
        <li>Relational Databases (PostgreSQL, MySQL, Oracle)</li>
        <li>NoSQL Databases (MongoDB, Accumulo, Neo4j)</li>
        <li>Full-Text Searching (Solr, Elasticsearch)</li>
        <li>Metrics and Reporting</li>
      </ul>
    </div>
    <div class="col-xs-12 col-md-6">
      <h2>WEB APPLICATIONS</h2>
      <ul class="list-unstyled">
        <li>Frontend Development (JavaScript, CSS, HTML5)</li>
        <li>In-Demand Frameworks (AngularJS, React, Backbone)</li>
        <li>Web Sockets, Server-Sent Events, and Web Workers</li>
        <li>Single Page Applications</li>
        <li>User Interface / User Experience Design</li>
        <li>Cross-Browser Compatibility</li>
      </ul>
      <h2>APIs &amp; SERVICES</h2>
      <ul class="list-unstyled">
        <li>Enterprise Applications (Java, NodeJS, Ruby)</li>
        <li>Low-Level Applications (C, C++)</li>
        <li>REST / SOAP Web Services</li>
        <li>OAuth / Authentication and Authorization</li>
        <li>Distribution / Load Balancing</li>
      </ul>
    </div>
  </div>
  <p>Don't see a technology you are looking for above? <a href="#contact">Contact Us</a> about it - we may still be able to help.</p>
</div>
