<div class="container">
  <div class="row">
    <div class="hidden-xs hidden-sm col-md-4 text-left">
      <a href="#"><img alt="Captivation Software" src="images/logo-dark.png" class="brand"></a>
    </div>
    <div class="col-xs-12 col-md-4 text-center">
      <a href="#"><span class="glyphicon glyphicon-chevron-up"></span></a>
    </div>
    <div class="hidden-xs hidden-sm col-md-4 text-right">
      <span class="copyright">&copy; 2016 Captivation Software, LLC</span>
    </div>
  </div>
</div>
