<section class="free-estimate">
  <h3>Looking for an expert?</h3>

  <img src="/images/improvement-icon.svg" title="Improvement Experts" />
  <img src="/images/integration-icon.svg" title="Integration Experts" />
  <img src="/images/intelligence-icon.svg" title="Intelligence Experts" />

  <h4 class="text-center">Our team of custom software professionals is ready to help!</h4>
  <h5>Projects &bull; Consulting &bull; IT Staff Augmentation</h5>
  <a href="/contact" class="btn">Contact Us Today</a>
</section>
<br class="hidden-xs hidden-sm"/>
