<div class="container">
  <div class="row ">
    <div class="col-xs-6">
      <div class="hidden-xs">
        <img class="brand" src="images/logo-white.png" alt="Captivation Software" />
        <img class="pushing brand" src="images/logo-dark.png" alt="Captivation Software" />
      </div>
      <div class="hidden-sm hidden-md hidden-lg">
        <img class="brand" src="images/symbol-white.png" alt="Captivation Software" />
        <img class="pushing brand" src="images/symbol.png" alt="Captivation Software" />
      </div>
    </div>
    <div class="col-xs-6 text-right">
      <a href="#contact" class="btn animated bounce">GET STARTED</a>
    </div>
  </div>
</div>
