<div class="sticky-menu">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-83380235-1', 'auto');
  ga('send', 'pageview');

</script>

        <!-- Branding -->
        <div class="pull-left">
          <a href="/">
            <img class="brand" src="images/logo-light.png" alt="Captivation Software" />
          </a>
        </div>

        <!-- Navigation -->
        <div class="pull-right">
          <div class="hidden-md hidden-lg">
            <button class="nav btn">
              <div class="expand">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </div>
              <div class="contract hidden">
                <span class="close">&times;</span>
              </div>
            </button>
          </div>
          <div class="hidden-xs hidden-sm">
            {% include menu.html %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mobile-menu hidden">
  {% include menu.html %}
</div>
