<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }}</title>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!--[if gte IE 8]><script src="scripts/xdr.js"></script><![endif]-->
  <script type="text/javascript" src="scripts/flowtype-1.1.0.min.js"></script>
  <script type="text/javascript" src="scripts/fullPage-2.7.5.min.js"></script>
  <script type="text/javascript" src="scripts/fixto-0.4.0.min.js"></script>
  <script type="text/javascript" src="scripts/main.js"></script>

  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="css/fullPage-2.7.5.min.css" />
  <link rel="stylesheet" type="text/css" href="css/animate.min.css" />
  <link rel="stylesheet" type="text/css" href="css/main.css" />
  <link rel="shortcut icon" href="favicon.ico">
</head>
