<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <a href="/" class="hidden-xs">
        <img class="brand" src="images/logo-light.png" alt="Captivation Software" />
        <img class="brand-push" src="images/logo-light.png" alt="Captivation Software" />
      </a>
      <a href="/" class="hidden-sm hidden-md hidden-lg">
        <img class="symbol" src="images/symbol-color.png" alt="Captivation Software" />
        <img class="symbol-push" src="images/symbol-color.png" alt="Captivation Software" />
      </a>
    </div>
    <div class="col-xs-6 text-right">
      <a href="contact" class="btn">CONTACT US</a>
    </div>
  </div>
</div>
