<div class="background-overlay"></div>
<div class="header">
  <div class="container">
    <div class="row ">
      <div class="col-sm-6">
        <img class="brand" src="images/logo-white.png" alt="Captivation Software" />
      </div>
      <div class="col-sm-6 text-right">
        <a href="#contact" class="hidden-xs btn animated bounceIn">GET STARTED</a>
      </div>
    </div>
  </div>
</div>
<div class="main">
  <div class="container">
    <div class="row">
      <div class="col-xs-offset-8 col-xs-4">
      </div>
    </div>
  </div>
</div>
