<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Join Our Team</h1>
      <p><em>Do you write code for fun? Do you keep up to date with the latest and greatest technologies? If yes, we want to meet you!</em></p>
      <p>Among the perks of working for Captivation Software are:</p>
      <ul>
        <li>Exceptional compensation</li>
        <li>Comprehensive benefits package</li>
        <li>Meaningful work alongside industry leaders, and more!</li>
      </ul>
      <p>If you believe you are a good fit, send your resume to <a href="mailto:jobs@captivationsoftware.com">jobs@captivationsoftware.com</a>.</p>
      <p>We look forward to hearing from you!</p>
    </div>
  </div>
</div>
