<ul class="menu list-unstyled list-inline">
  <li>
    <a href="/services/" class="btn">Our Services</span></a>
    <ul class="menu list-unstyled list-inline hidden-xs hidden-sm">
      <li>
        <a href="/services/software-engineering" class="btn">Software Engineering</a>
        <ul class="menu list-unstyled">
          <li><a class="btn" href="javascript:alert('fixme')">Agile Methodology</a></li>
          <li><a class="btn" href="javascript:alert('fixme')">Requirements Gathering</a></li>
          <li><a class="btn" href="javascript:alert('fixme')">Continuous Integration</a></li>
        </ul>
      </li>
      <li>
        <a href="/services/application-development" class="btn">Application Development</a>
        <ul class="menu list-unstyled">
          <li><a class="btn" href="javascript:alert('fixme')">Web Services and APIs</a></li>
          <li><a class="btn" href="javascript:alert('fixme')">Real-Time Applications</a></li>
          <li><a class="btn" href="javascript:alert('fixme')">Data Management</a></li>
        </ul>
      </li>
      <li>
        <a href="/services/ui-ux" class="btn">User Interfaces / Usability</a>
        <ul class="menu list-unstyled">
          <li><a class="btn" href="javascript:alert('fixme')">Responsive Design</a></li>
          <li><a class="btn" href="javascript:alert('fixme')">Data Visualization</a></li>
          <li><a class="btn" href="javascript:alert('fixme')">Browser Compatibility</a></li>
        </ul>
      </li>
      <li>
        <a href="/services/devops" class="btn">DevOps</a>
        <ul class="menu list-unstyled">
          <li><a class="btn" href="javascript:alert('fixme')">Server Automation</a></li>
          <li><a class="btn" href="javascript:alert('fixme')">App Containerization</a></li>
          <li><a class="btn" href="javascript:alert('fixme')">Cloud Deployments</a></li>
        </ul>
      </li>
    </ul>
  </li>
  <li><a href="/jobs/" class="btn">Job Opportunities</a></li>
  <li><a href="/company/" class="btn">Company Info</a></li>
  <li><a href="/contact/" class="btn">Contact Us</a></li>
</ul>
