<ul class="menu list-unstyled list-inline">
  <li>
    {% include menulink.html href="/services/" %}
    <ul class="menu list-unstyled list-inline hidden-xs hidden-sm">
      <li>
        {% include menulink.html href="/services/software-engineering/" %}
        <ul class="menu list-unstyled">
          <li>{% include menulink.html href="/services/software-engineering/agile-management/" %}</li>
          <li>{% include menulink.html href="/services/software-engineering/domain-modeling/" %}</li>
          <li>{% include menulink.html href="/services/software-engineering/system-integrations/" %}</li>
        </ul>
      </li>
      <li>
        {% include menulink.html href="/services/application-development/" %}
        <ul class="menu list-unstyled">
          <li>{% include menulink.html href="/services/application-development/web-services-and-apis/" %}</li>
          <li>{% include menulink.html href="/services/application-development/realtime-applications/" %}</li>
          <li>{% include menulink.html href="/services/application-development/data-management/" %}</li>
        </ul>
      </li>
      <li>
        {% include menulink.html href="/services/user-interfaces/" %}
        <ul class="menu list-unstyled">
          <li>{% include menulink.html href="/services/user-interfaces/responsive-design/" %}</li>
          <li>{% include menulink.html href="/services/user-interfaces/data-visualizations/" %}</li>
          <li>{% include menulink.html href="/services/user-interfaces/user-experience/" %}</li>
        </ul>
      </li>
      <li>
        {% include menulink.html href="/services/devops/" %}
        <ul class="menu list-unstyled">
          <li>{% include menulink.html href="/services/devops/automated-provisioning/" %}</li>
          <li>{% include menulink.html href="/services/devops/application-clustering/" %}</li>
          <li>{% include menulink.html href="/services/devops/cloud-deployments/" %}</li>
        </ul>
      </li>
    </ul>
  </li>
  <li>{% include menulink.html href="/jobs/" %}</li>
  <li>{% include menulink.html href="/company/" %}</li>
  <li>{% include menulink.html href="/contact/" %}</li>
</ul>
