<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-4">
      <h2>SERVING ALL INDUSTRIES</h2>
        <ul class="list-unstyled">
          <li>Startups and Small Businesses</li>
          <li>Commercial Enterprise</li>
          <li>Government Contracting</li>
        </ul>
      </p>
    </div>
    <div class="col-xs-12 col-md-4">
      <h2>ONSITE OR 100% REMOTE</h2>
      <p>
        Available onsite in <strong>Baltimore, MD</strong>, <strong>Washington, DC</strong> and <strong>Buffalo, NY</strong>. We can also serve you <strong>100% remotely</strong>.
      </p>
    </div>
    <div class="col-xs-12 col-md-4">
      <h2>ALL-AMERICAN TALENT</h2>
      <p>
        We never outsource our labor to offshore companies like some of our competitors. All of our talent is located in the USA.
      </p>
    </div>
  </div>
</div>
