<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="row">
        <h1 class="col-xs-12">Our Core Solutions</h1>
      </div>

      <div class="solution row">
        <div class="col-xs-12 col-sm-3 text-center">
          <img class="icon" data-no-retina src="images/innovation-icon.svg" alt="Innovation" />
        </div>
        <div class="col-xs-12 col-sm-9 vertically-centered">
          <h2>Innovation</h2>
          <p>Your game-changing idea needs a team of technical experts to assist in your path towards success. Together, we will push the technological frontier and transform your vision into tools worthy of production status.</p>
        </div>
      </div>

      <div class="solution row">
        <div class="col-xs-12 col-sm-3 text-center">
          <img class="icon" data-no-retina src="images/integration-icon.svg" alt="Integration" />
        </div>
        <div class="col-xs-12 col-sm-9 vertically-centered">
          <h2>Integration</h2>
          <p>Harness the power of a suite of tools tailored to the specific needs of your organization - without reinventing the wheel. Many of your existing off-the-shelf solutions can be unified together, unlocking hidden potential.</p>
        </div>
      </div>

      <div class="solution row">
        <div class="col-xs-12 col-sm-3 text-center">
          <img class="icon" data-no-retina src="images/intelligence-icon.svg" alt="Intelligence" />
        </div>
        <div class="col-xs-12 col-sm-9 vertically-centered">
          <h2>Intelligence</h2>
          <p>Eliminate guesswork and reduce uncertainty with real-time metrics and reporting. Our ability to empower decision makers with tools that track progress and measure effectiveness builds a foundation for growth rooted in reality.</p>
        </div>
      </div>

    </div>
  </div>
</div>
