body {
   margin:0;
   padding:0;
   height:100%;
}

body {
  font-family: "Proxima Nova", Arial, sans-serif !important;
  font-size: 18px;
  overflow-x: hidden;
}

.background-overlay img {
  width: 100%;
  height: auto;
}
