.landing {
  position: relative;
  width: 100vw;
  height: 100vh;
  min-height: 500px;
  margin-top: 30px;
  background-color: #f7a700;

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.66;
    background: url("/images/stock-short.jpg") no-repeat;
    background-position: 58% 20px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    content: " ";
  }

  &::after {
    background-color: #eee;
    bottom: -8vh;
    content: " ";
    height: 10vh;
    left: -1%;
    position: absolute;
    transform: rotate(1deg);
    width: 102%;
    z-index: 0;
  }

  .hero {
    position: absolute;
    text-align: center;
    top: 25vh;
    width: 100%;
    height: 33vh;
    z-index: 1;

    h1, h2 {
      padding: 0;
      position: relative;
      z-index: 3;
      line-height: 1;
      color: #fff;
      margin-bottom: 0;
      text-transform: uppercase;
    }

    h1 {
      font-weight: 900;
      font-size: 1.9em;
    }

    h2 {
      display: inline-block;
      font-size: 0.7em;
      font-weight: 400;
      margin: 10px 0 20px;
    }
  }

  .btn {
    border: 0;
    background-color: #fff;
    color: #f7a700;
    font-weight: 600;
    font-size: 18px;
    padding: 10px 20px;
  }
}

.landing + * {
  padding-top: 15px;
}

@media(max-width: 991px) {
  .landing .hero {
    h1 {
      font-size: 2.2em;
    }
    h2 {
      font-size: 1.4em;
    }
  }
}
