html, body {
   margin:0;
   padding:0;
   height:100%;
}

body {
  font-family: "Proxima Nova", Arial, sans-serif !important;
  font-size: 18px;
  background-color: #eee;
}

.page {
  overflow: hidden;

  .btn {
    
    &:active {
      box-shadow: none;
    }
  }
}
