ul.menu {
  li {
    &> a.btn {
      text-transform: uppercase;
      text-decoration: none;
      font-weight: 400;
      &:active, &:link, &:visited {
        color: #fff;
      }
      &:hover {
        color: #F7A700;
      }
    }

    &:hover ul.menu {
      visibility: visible;
      transition-delay: 0s;
    }

    &> ul.menu {
      position: absolute;
      left: -50%;
      top: 72px;
      width: 200%;
      padding: 15px 0;
      visibility: hidden;
      transition-property: visibility;
      transition-delay: 0.3s;
      text-align: center;
      margin-left: -60px;

      &> li {
        line-height: 40px;
        padding: 0 20px;
        position: relative;
        font-size: 14px;
        text-align: left;

        &> .btn {
          font-weight: 600;
        }

        &> ul.menu {
          left: 0;
          top: 30px;
          margin-top: 0;
          padding-top: 0;
          margin-left: 0;

          li {
            line-height: 25px;
            height: 25px;

            .btn {
              font-weight: 100;
            }
          }
        }
      }
    }
  }
}
