---
layout: subpage
title: "Custom Software Services"
heading: "Our Services"
subheading: "Software professionals ready to solve your problems..."
description: "From user-interface design to API development and system administration, Captivation Software offers customized software solutions for all your business and federal contracting needs. Discover more here."
---
<div class="row">
  <div class="col-xs-12 col-md-4 pull-right">
    {% include getstarted.html %}
  </div>
  <div class="col-xs-12 col-md-8 pull-left">
    <h3>Built by Industry Leaders</h3>
    <p>
      Our team is composed of highly skilled and personable software engineers and IT
      professionals, people who are passionate about writing quality code without cutting corners.
      These individuals are hand-selected for their willingness and ability to keep up-to-date
      on the latest and greatest software tools and techniques available.
    </p>
    <p>
      Additionally, all of our engineers are U.S. Citizens. We do not subcontract any
      of our technical tasking to offshore suppliers.
    </p>
    <hr />
    <h3>Options For Any Objective</h3>
    <p>
      The scope of your project and size of your organization are important factors to consider
      when undertaking a custom software solution. We proudly offer a variety of service strategies
      designed to fit a wide variety of needs:
    </p>
    <ul class="list-unstyled">
      <li><strong>Project-Based</strong>: Rapid prototypes and small, well-defined efforts for small businesses.
      <li><strong>Long-Term Contracting</strong>: Large-scale efforts for commercial and government customers.
      <li><strong>Staff Augmentation</strong>: Software specialists to enhance your existing enterprise technology team.
    </ul>
    <hr />
    <h3>Commercial and Government</h3>
    <p>
      The full range of our services are offered to the public and private sectors,
      and many of our most popular specializations are of benefit to state and local
      governments, federal agencies, and commercial industries like healthcare,
      telecommunications, and utilities.
    </p>
    <p>
      We are also capable of working on U.S. government classified contracts, with engineers on
      staff who possess active U.S. Department of Defense security clearances.
      <a href="/contact/">Contact us</a> to learn more.
    </p>
    <hr />
    <h3>Open-Source Experts</h3>
    <p>
      As part of our commitment to providing quality and value, we have developed a mastery
      of Free and Open-Source Software <small>( FOSS )</small> tools. These tools are supported
      by vibrant communities and are a cost-effective way to incorporate the highest technology
      into your organization.
    </p>
    <p>
      We are also very proud of our own successful contributions to the Open-Source community,
      available on our <a href="https://github.com/captivationsoftware" target="_blank">GitHub</a> page!
    </p>
    <hr />
  </div>
  <div class="sidenote col-xs-12 col-md-4 pull-right">
    <h2>Core Services</h2>
    {% include learn-more/software-engineering.html %}
    {% include learn-more/application-development.html %}
    {% include learn-more/user-interfaces.html %}
    {% include learn-more/devops.html %}
  </div>
</div>
