---
layout: subpage
title: 'Web Services and APIs'
heading: 'Web Services and APIs'
subheading: 'Backend systems that transform and transport...'
description: 'Captivation Software builds web services and APIs that power your backend. Discover more here.'
---
<div class="row">
  <div class="col-xs-12 col-md-8">
    <h3>Web Services Design</h3>
    <p>
      We build RESTful ( or "REST" ) web services that meet the expectations of
      internal and external application clients. Through our adherence
      to widely accepted standards and conventions, we guarantee your application
      will match the expectations of maintainers and third-party developers alike -
      meaning your application is designed from day one to be future proof.
    </p>
    <p>In combination with our
      {% include link.html href="/services/software-engineering/domain-modeling/" %} capability,
      we promise an extensible API that fits seamlessly into your organization.
    </p>
    <hr />
    <h3>Essential Security</h3>
    <p>
      Whenever sensitive information is being stored, such as Personally Identifiable
      Information ( <small>PII</small> ) or user credentials, all precautions must be made
      to safeguard this data from prying eyes.
    </p>
    <p>
      Our team has experience with data encryption, PKI identification, and an in-depth knowledge
      of SSL / TLS protections that we can utilize to reduce the risk of exploits and unauthorized access,
      protecting your users and assets in the process.
    </p>
    <hr />
    <h3><span class="small-caps">OAuth</span> Applications</h3>
    <p>
      Few modern applications exist solely in isolation, yet increased sharing can
      also lead to privacy and security concerns. OAuth addresses these concerns
      through secure protocols and permission-based access controls.
    </p>
    <p>
      We can build you a system that communicates with popular OAuth providers, or
      convert your own system into an OAuth provider - or both!
    </p>
    <hr />
  </div>
  <div class="sidenote col-xs-12 col-md-4">
    {% include getstarted.html %}
  </div>
</div>
