<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<!--[if gte IE 8]>
<body class="ie">
<![endif]-->
<!--[if !IE]> -->
<body>
<!-- <![endif]-->

  <div class="landing section animated fadeIn">
    {% include home.html %}
  </div>
  <div class="overview section white-bg">
    {% include overview.html %}
  </div>
  <div class="solutions section light-bg">
    {% include solutions.html %}
  </div>
  <div class="capabilities section dark-bg">
    {% include capabilities.html %}
  </div>
  <div class="jobs section black-bg">
    {% include jobs.html %}
  </div>
  <div class="contact section light-bg">
    {% include contact.html %}
  </div>

  <script type="text/javascript" src="scripts/retina-1.3.0.min.js"></script>
</body>
</html>
