<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<!--[if gte IE 8]>
<body class="ie">
<![endif]-->
<!--[if !IE]> -->
<body>
<!-- <![endif]-->
  <div class="background-overlay"></div>
  <div class="header">
    {% include header.html %}
  </div>
  <div class="landing section animated fadeIn">
    <a id=""></a>
    {% include landing.html %}
  </div>
  <div class="overview section white-bg">
    {% include overview.html %}
  </div>
  <div class="solutions section light-bg">
    <a id="solutions"></a>
    {% include solutions.html %}
  </div>
  <div class="capabilities section dark-bg">
    <a id="capabilities"></a>
    {% include capabilities.html %}
  </div>
  <div class="jobs section black-bg">
    <a id="jobs"></a>
    {% include jobs.html %}
  </div>
  <div class="contact section light-bg">
    <a id="contact"></a>
    {% include contact.html %}
  </div>
  <div class="footer section light-bg">
    {% include footer.html %}
  </div>
  <script type="text/javascript" src="scripts/retina-1.3.0.min.js"></script>
</body>
</html>
