---
layout: master
page.type: page
---
<div class="orange-bg">
  <div class="background-overlay">
    <img src="images/stock.jpg">
  </div>
  <div class="hidden-xs hidden-sm overview overview-fixed white-bg">
    <div class="white-bg">
      {{ content }}
    </div>
  </div>
  <div class="hero">
    <h1 class="white animated slideInLeft">
      CUSTOM SOFTWARE BUILT
    </h1>
    <h1 class="white animated slideInRight">
      BY IN-DEMAND DEVELOPERS
    </h1>
  </div>
</div>
<div class="hidden-md hidden-lg overview white-bg">
  <div class="white-bg">
    {{ content }}
  </div>
</div>
<script type="text/javascript" src="scripts/flowtype.js"></script>
<script type="text/javascript" src="scripts/landing.js"></script>
