---
layout: master
---
<div class="content">
  <div class="gray-bg">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          {% if page.breadcrumbs %}
            <ol class="breadcrumb">
              {% for breadcrumb in page.breadcrumbs %}
                <li><a href="{{ breadcrumb[1] }}">{{ breadcrumb[0] }}</a></li>
              {% endfor %}
              <li class="active">{{ page.heading }}</li>
            </ol>
          {% endif %}
          <h1>{{ page.heading }}</h1>
          <h2>{{ page.subheading }}</h2>
          {{ content }}
        </div>
      </div>
    </div>
  </div>
</div>
