---
layout: subpage
title: 'Responsive Design'
heading: 'Responsive Design'
subheading: 'Intelligent interfaces that work everywhere...'
description: 'Captivation Software builds responsive applications. Learn more.'
---
<div class="row">
  <div class="col-xs-12 col-md-4 pull-right">
    {% include getstarted.html %}
  </div>
  <div class="col-xs-12 col-md-8 pull-left">
    <h3>Build It Once</h3>
    <p>
      Many web application providers have gone down the path of developing and hosting
      entirely separate web applications just for mobile devices. Not only is this
      process expensive and difficult to accomplish, it also creates a frustrating experience
      for the end user.
    </p>
    <p>
      Our responsive design services solve this problem by consolidating your logic and
      infrastructure down to a single application, easily accessible by all.
      Backed by one of our {% include link.html href="/services/application-development/web-services-and-apis/" %},
      we introduce tremendous savings to the development and maintenance costs for your application.
    </p>
    <hr />
    <h3>Accommodate Every Device</h3>
    <p>
      Many legacy systems can be considered to be single-entry applications, designed
      to be used on a desktop computer, with a certain screen resolution, and perhaps even further,
      for a specific browser. These are the applications that are difficult to navigate, and practically
      impossible to accomplish anything useful on, when accessed from a mobile device.
    </p>
    <p>
      Responsive design addresses this problem by ensuring that an application is usable for
      every user, on any browser, at every screen resolution. Users are provided a first-class
      user experience regardless of where they are accessing your application from. Everybody wins!
    </p>
    <hr />
  </div>
  <div class="sidenote col-xs-12 col-md-4 pull-right">
    <h2>Related Services</h2>
    {% include learn-more/data-visualizations.html %}
    {% include learn-more/user-experience.html %}
  </div>
</div>
