---
layout: subpage
title: 'Cloud Deployments'
heading: 'Cloud Deployments'
subheading: 'Migrate your infrastructure to the cloud...'
description: 'Captivation Software can migrate your application to the cloud. Discover more here.'
---
<div class="row">
  <div class="col-xs-12 col-md-4 pull-right">
    {% include getstarted.html %}
  </div>
  <div class="col-xs-12 col-md-8 pull-left">
    <h3>Trusted Service Providers</h3>
    <p>
      Leverage the reliability of top cloud service hosting platforms,
      like <strong>Amazon Web Services</strong>, <strong>Heroku</strong>, and
      <strong>DigitalOcean</strong>, to bring premier Infrastructure-as-a-Service to your organization.
    </p>
    <p>
      Our DevOps team can be trusted to setup and maintain your application on the same platforms
      used by major corporations.
    </p>
    <hr />
    <h3>Pay For What You Use</h3>
    <p>
      We exclusively use cloud service providers that practice fair pricing models. These services,
      offered a la carte, can be cancelled at any time without contracts or commitments.
    </p>
    <p>
      Most of these cloud services are also offered in tiers that make sense for subscribers at every
      scale - meaning you aren't paying for features you don't need.
    </p>
    <hr />
    <h3>Hands-Off Maintenance</h3>
    <p>
      Why should you provide your own expensive system administration personnel
      when such a cost-effective option with hard-to-beat system uptimes is so
      readily accessible?
    </p>
    <p>
      Curb your costs and trust the best - we're here to help!
    </p>
    <hr />
  </div>
  <div class="sidenote col-xs-12 col-md-4 pull-right">
    <h2>Related Services</h2>
    {% include learn-more/automated-provisioning.html %}
    {% include learn-more/application-clustering.html %}
  </div>
</div>
